body {
  background: black;
  padding-top: 5%;
}

#landing {
  width: auto%;
  margin: 0 auto;
}

#inner-landing {
  padding-left: 5
    width: auto;
    margin: 0 auto;
}

#inner {
    width: 65%;
    margin: 0 auto;
    color: white;
}
